name: PRs and merges to master

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Build cache
      - name: Cache Gradle Cache
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}-${{ hashFiles('**/gradle.properties') }}
          # An ordered list of keys to use for restoring the cache if no cache hit occurred for key
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Cache gradle wrapper
        uses: actions/cache@v2
        with:
          path: ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}

      - name: Build with Gradle
        run: ./gradlew build jacocoTestReport dependencyCheckAggregate

      - name: Upload JUnit test report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: Junit Test Report
          path: build/reports/tests/test

      - name: Upload detekt report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: Detekt Report
          path: build/reports/detekt

      - name: Upload OWASP dependency-check report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: OWASP Dependency-Check Report
          path: build/reports/dependency-check-report.html

      - name: Upload Jacoco coverage report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: Jacoco Coverage Report
          path: build/reports/jacoco/test/html
